{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-4 " style="background-color:lavender; text-align:left;">
       {% include "sidebar.html" %}
    </div>

    <div class="col-sm-8 text-left" style="background-color:lavenderblush;">
      <h1> {{dic.title}}</h1>
       {% for item in dic.plist %}
       <p>{{item}}</p>
       {% endfor %}
    </div>
    <!--
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div> -->

  </div>
</div>

<footer class="container-fluid text-center">
  <p>Created by Xue Wei Fan</p>
</footer>

{#
<table style="width:100%">

 <tr>

<td style="vertical-align:text-top;">{% include "sidebar.html" %}</td>

<td style="vertical-align:text-top;">
  <h1> {{dic.title}}</h1>
{% for item in dic.plist %}
<p>{{item}}</p>
{% endfor %}
</td>

</tr>

</table>

#}


{% endblock %}
